.Game {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -10%);
    text-align: center;
}

.margin-top{
    margin-top: 30px;
}

.movimientos {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 10px;
    
}

.fas {
    cursor: pointer;
}

.fas:hover {
    color: red;
}

.score {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: black;
}

.score p:first-child {
    background-color: red;
    color: white;
}

.score p:last-child {
    background-color: mediumblue;
    color: white;
}

.center {
    text-align: center;
}

.center div:first-child {
    color: red;
}

.center div:nth-child(2n) {
    color: mediumblue;
}

.center div:last-child {
    color: goldenrod;
}

.mymodal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
  }
  
  .myoverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }

  .ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}