.Home {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -20%);
  text-align: center;
}

.margin {
  margin-bottom: 50px;
}

ul li {
  list-style-type: circle;
  margin: 10px;
}

a:link {
  background-color: gold;
}

a:hover {
  font-size: 150%;
}